@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Login</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>