<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>@ViewData["Title"] -Nova Online</title>
        <link rel="stylesheet" href="~/css/"/>
        @RenderSection("Styles", required: false)
    </head>
    <body>
        <header>
            <h1>Nova Online</h1>
            <nav>
                <ul>
                    <li><a asp-controller="Productos" asp-action="Index">Productos</a></li>
                    <li><a asp-controller="Proveedores" asp-action="Index">Proveedores</a></li>
                    <li><a asp-controller="Compras" asp-action="Index">Compras</a></li>
                    <li><a asp-controller="Admin" asp-action="Index">Usuarios</a></li>
                </ul>
            </nav>
        </header>

        <main role="main" class="container">
            @RenderBody()
        </main>

        <footer>
            <p>&copy; 2025 Nova Online</p>
        </footer>
    </body>
</html>

