@model ProveedorViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/editar.css" asp-append-version="true" />
}
<h2>Editar Proveedor</h2>

<form asp-action="Editar" method="post">
    <div>
        <label>Cedula Juridica</Label>
        <input asp-for="cedulaJuridica" class="form-control"/>
        <span asp-validation-for="cedulaJuridica" class="text-danger"></span>
    </div>

    <div>
        <label>Nombre Empresa</label>
        <input asp-for="nombre" class="form-control" />
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>

    <div>
        <label>Nombre Contacto</label>
        <input asp-for="nombreContacto" class="form-control" />
        <span asp-validation-for="nombreContacto" class="text-danger"></span>
    </div>

    <div>
        <label>Teléfono</label>
        <input asp-for="telefono" class="form-control" />
        <span asp-validation-for="telefono" class="text-danger"></span>
    </div>

    <div>
        <label>Correo Electrónico</label>
        <input asp-for="correo" class="form-control" />
        <span asp-validation-for="correo" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="estado" value="true" />

    <button type="submit" class="btn btn-success">Modificar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>